version: '3.8'

services:
  app:
    container_name: app_url_shortner_server
    build:
      context: .
      dockerfile: ./Dockerfile
    command: sh -c "npx prisma migrate deploy && npm run dev"
    env_file:
      - .env
    ports:
      - ${HTTP_PORT}:${HTTP_PORT}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/usr/app
      - /usr/app/node_modules

  db:
    container_name: app_url_shortner_postgres
    image: postgres:15-alpine
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: